body{
    padding: 0;
    margin: 0;
    font-family: Tahoma;
}

header {
    margin: 0;  
    padding: 0;
    background-color: #252f31;
    height: 70px;
    top: 0;
      
}
nav {
    display:flex;
}
ul{
    
}
li{
     display: inline-flex;
    margin-left: 50px;
    font-family: sans-serif;
    font-size: 20px
    
}

a{
    text-decoration: none;
    padding: 13px 23px;
    color: white;
    text-transform: uppercase
     
}
ul a:hover{
    color: #2dcc70;
    border-top:none;
    border-right:none;
    border-left:none;
    cursor: pointer;
    border-bottom: 5px solid  #2dcc70;
    transition: .3s;
    
}


.login{
    display: inline-block;
    float: right;
    margin-right: 30px;
    
    
}
header div a,button {
  	background-color: #191e22;
	color: #fff;
	border:0;
	cursor: pointer;
    padding: 10px;
    margin-top:5px;
    letter-spacing: 3px;
    margin-top:15px;
    background-color: #2dcc70;
    width:auto;
    font-family:sans-serif;
    font-size: 18px;
    margin-bottom:15px;
    
    
}
button:hover{
    background-color: lightgreen;
    transition: .3s
}

button a {
    width: 50px;
    padding: 0;
    
}
.btn2{
   margin-left: 15px;
    text-transform: uppercase
    
}
.continar{
    background-color: ;
    width: 1170px;
    height: auto;
    margin:auto;
    text-align: center;
    overflow: hidden;      
}
.pagename{
    color: #252f31;
    margin-top: 0;
    text-transform: uppercase;
    font-family: tahoma;
    letter-spacing: 15px;
    padding-top: 20px
}
span{
    color: #2dcc70
}
iframe{
    width:980px;
    height:520px;
	margin-top: 30px;
	border:1px solid #ccc;
	box-shadow: 10px 10px 12px #ccc;
    
}
.newcour h1{
    text-align: center;
    color: #252f31;
    margin:30px;
    text-transform: uppercase;
    font-family: tahoma;
    letter-spacing: 15px;
    padding-top: 20px
}
section {
    text-align: center;
    
}

.courses{
    display: flex;
    direction: row;
    flex-wrap: wrap;
}

.courses > div {
    flex: 1 1 200px; 
} 


.contact .info{
	width: 50%;
	margin-right: 5%;
	float: left;
}
.contact{
	background-color: #252f31;
	overflow: hidden;
	padding-top: 50px;
	padding-bottom:20px;
}
.contact h2{
	color: #fff;
	margin-left: 40px;
	line-height: 1.7
}

.contact p {
	color: #6a6e71;
	margin-left: 40px;
	line-height: 1.7
}

.contact p strong{
	color: #d1d6da
}

.contact .form{
	width: 45%; 
	float: left;
}

.contact .form label{
	display: block;
	color: #d1d6da;
	margin: 10px 0;
}
.contact .form input[type="text"]{
	background-color: #4b5557;
	color: #fff;
	padding: 10px;
	border:0;
	width: 80%;
	margin-bottom: 10px

}
.contact .form textarea{
	background-color: #4b5557;
	color: #FFF ;
	padding: 10px;
	border:0;
	width: 80%;
	margin-bottom: 10px;
	height: 300px
}

.contact .form input[type="submit"]{
	background-color: #191e22;
	color: #fff;
	padding: 10px 20px;
	border:0;
	margin-top: 10px;
	cursor: pointer;
}